<table style="font-family: monospace" border="0">
    <tr>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td>0</td>
    </tr>
</table>
<table style="font-family: monospace" border="0">
    <tr>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td>7</td>
    </tr>
</table>
<table style="font-family: monospace" border="0">
    <tr>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td>23</td>
    </tr>
</table>
<table style="font-family: monospace" border="0">
    <tr>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: darkblue">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td style="background-color: cyan">&nbsp;</td>
        <td>37</td>
    </tr>
</table>