<table border="0"><tr><td><table border="1" style="font-family: fixed">
    <tr><td colspan="8">(1) Empty</td></tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    </table></td><td><table border="1" style="font-family: fixed">
    <tr><td colspan="8">(2) Do Red Cells</td></tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: pink">R</td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: pink">R</td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    </table></td><td><table border="1" style="font-family: fixed">
    <tr><td colspan="8">(3) Do Green Cell</td></tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: pink">R</td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: lightgreen">G</td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    </table></td><td><table border="1" style="font-family: fixed">
    <tr><td colspan="8">(4) Do Blue Squares</td></tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    </table></td><td><table border="1" style="font-family: fixed">
    <tr><td colspan="8">(5) Undo Left Blue Square</td></tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: lightgreen">G</td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    </table></td><td><table border="1" style="font-family: fixed">
    <tr><td colspan="8">(6) Undo Left Green Cell</td></tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: pink">R</td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: lightblue">B</td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    </table></td><td><table border="1" style="font-family: fixed">
    <tr><td colspan="8">(7) Undo Right Blue Square</td></tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: pink">R</td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: pink">R</td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    </table></td><td><table border="1" style="font-family: fixed">
    <tr><td colspan="8">(8) Undo Red Cells</td></tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    <tr>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    <td style="background-color: white"><font color="white">X</font></td>
    </tr>
    </table></td></tr></table>